@model TransformationTracker.Models.Pdsa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pdsa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacticId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacticId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Study)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Study)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
